<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules"
             type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite" />
  </configSections>

  <modules>
    <module assemblyFile="DigitalFrame.Module.Image"
            moduleType="DigitalFrame.Module.Image.ImageModule, DigitalFrame.Module.Image"
            moduleName="Image Module" />
    <module assemblyFile="DigitalFrame.Module.Weather"
            moduleType="DigitalFrame.Module.Weather.WeatherModule, DigitalFrame.Module.Weather"
            moduleName="Weather Module" />
    <module assemblyFile="DigitalFrame.Module.Time"
            moduleType="DigitalFrame.Module.Time.TimeModule, DigitalFrame.Module.Time"
            moduleName="Time Module" />
    
    <module assemblyFile="DigitalFrame.Service.FileSystemImage"
            moduleType="DigitalFrame.Service.FileSystemImage.FileSystemImageSettingsModule, DigitalFrame.Service.FileSystemImage"
            moduleName="File System Image Settings Module">
      <dependencies>
        <dependency moduleName="Image Settings Module"/>
      </dependencies>
    </module>

    <module assemblyFile="DigitalFrame.Module.Image"
            moduleType="DigitalFrame.Module.Image.ImageSettingsModule, DigitalFrame.Module.Image"
            moduleName="Image Settings Module">
      <dependencies>
        <dependency moduleName="Settings Module"/>
      </dependencies>
    </module>

    <module assemblyFile="DigitalFrame.Module.Weather"
            moduleType="DigitalFrame.Module.Weather.WeatherSettingsModule, DigitalFrame.Module.Weather"
            moduleName="Weather Settings Module">
      <dependencies>
        <dependency moduleName="Settings Module"/>
      </dependencies>
    </module>

    <module assemblyFile="DigitalFrame.Module.Settings"
            moduleType="DigitalFrame.Module.Settings.SettingsModule, DigitalFrame.Module.Settings"
            moduleName="Settings Module" />
  </modules>
</configuration>